/* цвет основного текста 
телефона емейла, описание сотрудников #434455 */

/* цвет текста заголовков <h2++> 
имена сотрудников ссилок, 
webstudio,portfolio++ 
фон footer and studio button #2E2F42 */

/* цвет footer #E7E9FC */

/* кнопки 4 на portfolio 
+ фон all orden button 
span web #4D5AE5 */
/* #2E2F42 */
:root{
 --text-description:#434455; /* #434455 */
--block-header: #2E2F42;   /* #2E2F42 */
--accent-text:  #4D5AE5;     /* #4D5AE5 IRIS */
}


/* General settings */
body{
    font-family:Roboto;
    background-color:#FFFFFF
}

ul {
    list-style: none;
}



/* header */
.header-nav{
color: var(--block-header);

}

.logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
}


.contacts{
    color:var(--text-description);
 }

 .logo:hover,
 .logo:focus{
    color: var(--accent-text);
 }
 .hero-button:hover,
 .hero-button:focus{
    color:var(--accent-text);
 }

 .link:hover,
 .link:focus{
color: var(--accent-text);
}

span{
    color: var(--accent-text);
}
/* hero */
.section {
color: #FFFFFF;
background: var(--block-header);
}

.hero-button{
    color: #FFFFFF;
    background:var(--accent-text);
}
h2, h3{
    color: var(--block-header);

}
.qualiti{
    color: var(--text-description);
    
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}
/* taem panel */
.team{
background: #F4F4FD;
color: #2E2F42;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px
}
.workteam{
    color: var(--text-description);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

/* footer */
.bottom{
    background: var(--block-header);
   
}
.bottom-text{
    color: #FFFFFF;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}
